@use "../../../../styles/variables/variables.scss";

.button {
  border-radius: 4px;
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s ease;
  display: flex;
  align-items: center;

  .icon {
    width: 44px;
    display: flex;
    align-items: center;
  }

  .icon__only {
    width: auto;
    display: flex;
    align-items: center;
  }
}

.big__btn {
  width: 100%;
  font-size: 21px;
  justify-content: center;
}

.disabled {
  background-color: variables.$button-hover !important;
}

.primary {
  background-color: variables.$button-white;
  color: variables.$button-green;
  outline: 1px solid variables.$button-green;

  &:hover {
    color: variables.$button-hover;
    outline: 1px solid variables.$button-hover;
  }
}

.secondary {
  color: variables.$button-white;
  background-color: variables.$button-green;

  &:hover {
    background-color: variables.$button-hover;
  }
}

@media (max-width: variables.$tablet) {
  .button {
    padding: 5px;
    font-size: 14px;

    .icon {
      width: auto;
      padding-right: 4px;
    }
  }
}

@media (max-width: variables.$mini-phone) {
  .button {
    padding: 3px;
    font-size: 10px;
  }
}
