@use "../../../styles/variables/variables.scss";

.wrapper__other {
  &_title {
    margin: 40px 0;
    text-align-last: left;
  }

  .other {
    &__slider {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: variables.$tablet) {
  .wrapper__other {
    &_title {
      margin: 20px 0;
    }

    .other {
      &__slider {
        flex-wrap: nowrap;
      }
    }
  }
}
