@use "../../../styles/variables/variables.scss";

.footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: variables.$dark-blue;
  color: variables.$button-white;
  padding: 20px 15px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: baseline;
    padding-bottom: 20px;
    border-bottom: 1.5px solid variables.$grey;

    .wrapper__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__item {
        .nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .title {
            font-size: 16px;
            font-weight: 600;
            color: variables.$button-white;
            margin-bottom: 18px;
          }

          ul {
            font-size: 14px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
              cursor: pointer;
            }

            .li {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 6px;

              .icon {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                background-color: variables.$button-hover;
                color: variables.$button-white;
                display: flex;
                justify-content: center;
                align-items: center;

                &__svg {
                  width: 15px;
                  height: 15px;
                }
              }

              .info {
                display: flex;
                flex-direction: column;
                gap: 6px;
              }
            }
          }
        }
      }
    }
  }

  .copi {
    padding-top: 10px;
    font-size: 12px;
    color: variables.$grey;
  }
}

@media (max-width: variables.$tablet) {
  .footer {
    padding: 10px 8px;

    &__wrapper {
      gap: 14px;
      padding: 0;
      justify-content: center;

      .wrapper__nav {
        flex-wrap: wrap;
        &__item {
          .nav {
            align-items: center;
            .title {
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 10px;
            }

            ul {
              font-size: 12px;
              font-weight: 300;
              gap: 12px;
            }
          }
        }
      }
    }

    .copi {
      padding-top: 6px;
      font-size: 12px;
    }
  }
}

@media (max-width: variables.$phone) {
  .footer {
    padding: 10px 8px;

    &__wrapper {
      gap: 14px;

      .wrapper__nav {
        &__item {
          .nav {
            .title {
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 10px;
            }

            ul {
              font-size: 10px;
              gap: 6px;

              .li {
                .icon {
                  width: 25px;
                  height: 25px;

                  &__svg {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .copi {
      padding-top: 6px;
      font-size: 12px;
    }
  }
}

@media (max-width: variables.$mini-phone) {
  .footer {
    padding: 5px;

    &__wrapper {
      gap: 8px;

      .wrapper__nav {
        flex-direction: column;
        align-items: center;

        &__item {
          .nav {
            margin-bottom: 10px;
            .title {
              font-size: 14px;
              margin-bottom: 6px;
            }

            ul {
              gap: 4px;
              align-items: center;

              .li {
                .icon {
                  width: 25px;
                  height: 25px;

                  &__svg {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }

            .ul {
              align-items: start;
            }
          }
        }
      }
    }

    .copi {
      padding-top: 4px;
      font-size: 10px;
    }
  }
}
