@use "../../../styles/variables/variables.scss";

.category {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: variables.$button-white;
  padding: 22px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 0px 10px 6px variables.$shadow;
  -moz-box-shadow: 1px 0px 10px 6px variables.$shadow;
  box-shadow: 1px 0px 10px 6px variables.$shadow;
  margin: 24px 0;

  .categoryes {
    display: flex;
    gap: 15px;
  }
}

@media (max-width: variables.$big-screen) {
  .category {
    gap: 10px;
    padding: 12px;
    margin: 18px 0;

    .categoryes {
      gap: 10px;
    }
  }
}

@media (max-width: variables.$phone) {
  .category {
    padding: 8px;
    margin-top: 8px;
  }
}

@media (max-width: variables.$mini-phone) {
  .category {
    margin-top: 60px;
  }
}
