@use "../../../styles/variables/variables.scss";

.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .arrow {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: variables.$button-green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;

    .svg {
      color: variables.$button-white;
    }

    &:hover {
      background-color: variables.$button-hover;
    }
  }

  .numbers {
    display: flex;
    gap: 10px;
  }
}
