@use "../../../styles/variables/variables.scss";

.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .arrow {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: variables.$button-green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;

    .svg {
      color: variables.$button-white;
    }

    &:hover {
      background-color: variables.$button-hover;
    }
  }

  .numbers {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: variables.$tablet) {
  .pagination {
    margin: 20px 0;
    gap: 14px;

    .arrow {
      width: 30px;
      height: 30px;
    }

    .numbers {
      gap: 6px;
    }
  }
}

@media (max-width: variables.$phone) {
  .pagination {
    margin: 10px 0;
    gap: 10px;

    .arrow {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: variables.$mini-phone) {
  .pagination {
    margin: 8px 0;
    gap: 8px;

    .arrow {
      width: 18px;
      height: 18px;

      .svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}
