// цвета

$button-white: #ffffff;
$button-hover: #076437;
$button-green: #5bbe63;
// $white-bg: #fff;
// $black: #2b2d40;
// $light-grey: #e4e4e4;
$grey: #777777;
// $white: #fafafa;
// $light-blue-chat: #cbe8ff;
// $blue-links: #2f6dff;
// $blue-70: #5085ff;
// $blue-30: #739cff;
