// color
$button-white: #ffffff;
$button-hover: #076437;
$button-green: #5bbe63;
$light-green: #caface;
$red: #a44a4a;
$text-black: #2b2d40;
$grey: #777777;
$shadow: rgba(0, 0, 0, 0.37);

// endpoint for @media
$tablet: 800px;
$phone: 400;
