@use "../../../../styles/variables/variables.scss";

.wrapper__total {
  padding: 30px 20px;
  background-color: variables.$light-green;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px variables.$shadow;
  text-align-last: left;

  .list__card {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 420px;
    overflow: auto;

    .card {
      display: flex;
      gap: 8px;
      padding: 12px 10px 12px 6px;
      background-color: variables.$button-white;
      border-radius: 8px;

      // &__image {
      //   img {
      //   }
      // }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &_name {
          font-size: 18px;
        }

        &_price {
          font-weight: 300;
          font-size: 14px;
        }
      }

      &__price {
        font-size: 18px;
        margin-left: auto;
      }
    }
  }

  .result {
    &__price {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 40px;
      font-size: 22px;
      font-weight: 600;
      padding: 0 6px;
    }

    &__btn {
      margin-bottom: 25px;
    }
  }

  .result__info {
    width: 100%;
    font-size: 14px;
    color: variables.$grey;
    line-height: 1.2;
  }
}

.connect {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: variables.$light-green;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    display: flex;
    gap: 10px;
    align-items: center;

    &_title {
      font-size: 18px;
      font-weight: 500;
    }

    &_link {
      font-size: 15px;
      font-weight: 600;
      transition: 0.2s ease;

      &:hover {
        border-bottom: 2px solid variables.$button-hover;
        scale: (1.1);
      }
    }
  }
}
