@use "../../../../styles/variables/variables.scss";

.form__obtaining {
  margin: 40px 0;
  border: 1px solid variables.$button-green;
  background-color: variables.$button-white;
  box-shadow: 0px 0px 4px 4px variables.$shadow;
  border-radius: 10px;
  padding: 20px;

  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    &__svg {
      width: 30px;
      height: 30px;
      color: variables.$button-green;
    }
  }

  .error {
    color: variables.$red;
  }

  .choice {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;

    &__item {
      cursor: pointer;
      width: 50%;
      transition: 0.2s ease;
      background-color: variables.$button-white;
      padding: 10px;
      border: 2px solid variables.$button-hover;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .svg {
        width: 30px;
        height: 30px;
        color: variables.$button-green;
      }

      .title {
        font-size: 18px;
        font-weight: 600;
      }

      .desc {
        font-size: 15px;
        font-weight: 400;
      }

      &:hover {
        box-shadow: 0px 0px 4px 4px variables.$shadow;
      }
    }

    &__item_active {
      background-color: variables.$button-hover !important;

      .svg,
      .title,
      .desc {
        color: variables.$button-white;
      }
    }
  }

  .address {
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
  }

  p {
    font-size: 13px;
    color: variables.$text-black;
    margin-top: 8px;
  }
}

@media (max-width: variables.$big-screen) {
  .form__obtaining {
    margin: 20px 0;
    padding: 10px;

    .title {
      gap: 5px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: variables.$phone) {
  .form__obtaining {
    margin: 10px 0;
    padding: 5px;

    .choice {
      gap: 6px;
      margin-bottom: 15px;

      &__item {
        padding: 5px;
        border: 1px solid variables.$button-hover;
        gap: 5px;

        .svg {
          width: 16px;
          height: 16px;
        }

        .title {
          font-size: 14px;
          font-weight: 500;
        }

        .desc {
          font-size: 10px;
        }
      }
    }

    .title {
      margin-bottom: 6px;
    }
  }
}
