@use "../../../styles/variables/variables.scss";

.cart {
  cursor: pointer;
  width: 320px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    -webkit-box-shadow: 1px 0px 10px 6px variables.$shadow;
    -moz-box-shadow: 1px 0px 10px 6px variables.$shadow;
    box-shadow: 1px 0px 10px 6px variables.$shadow;

    .image {
      transform: scale(1.033);
    }
  }

  .image {
    transition: 0.3s ease;
    height: 250px;
    overflow: hidden;
    position: relative;

    &__img {
      object-fit: cover !important;
      object-position: center;
      transition: transform 0.3s ease;
    }

    .name_product {
      position: absolute;
      left: 5px;
      top: 10px;
      z-index: 2;
    }
  }

  &:hover {
    -webkit-box-shadow: 1px 0px 10px 6px variables.$shadow;
    -moz-box-shadow: 1px 0px 10px 6px variables.$shadow;
    box-shadow: 1px 0px 10px 6px variables.$shadow;

    .image__img {
      transform: scale(1.033);
    }
  }

  .info {
    margin-top: 10px;
    text-align-last: left;
    padding: 8px;
    flex-grow: 1;

    &__category {
      border: 1px solid variables.$button-green;
      padding: 4px 7px;
      border-radius: 10px;
    }

    &__name {
      margin: 14px 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      overflow: hidden;
    }

    &__desc {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      overflow: hidden;
      font-size: 14px;
      color: variables.$grey;
    }

    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      margin-top: auto;

      &_block {
        display: flex;
        align-items: center;
      }

      &_many {
        padding-left: 5px;
      }
    }
  }
}

@media (max-width: variables.$tablet) {
  .cart {
    width: 220px;

    .image {
      height: 180px;
    }

    .info {
      margin-top: 5px;
      padding: 8px;

      &__category {
        padding: 3px 5px;
      }

      &__name {
        margin: 8px 0;
      }

      &__desc {
        font-size: 12px;
      }

      &__price {
        padding: 7px 0;

        &_many {
          padding-left: 5px;
        }
      }
    }
  }
}

@media (max-width: variables.$phone) {
  .cart {
    width: 160px;

    .image {
      height: 130px;
    }

    .info {
      margin-top: 5px;
      padding: 5px;

      &__name {
        margin: 5px 0;
      }

      &__price {
        padding: 5px 0;
      }
    }
  }
}
