@use "../../../../styles/variables/variables.scss";

.wrapper__slider {
  padding: 30px 0;

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__main {
      width: 100%;
      max-width: 600px;
      display: flex;
      align-items: center;
      position: relative;

      .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: variables.$light-green;

        .svg {
          color: variables.$text-black;
          width: 20px;
          height: 20px;
        }
      }

      .arrow_left {
        left: 0;
      }

      .arrow_right {
        right: 0;
      }

      .slider__main_image {
        position: relative;
        width: 100%;
        aspect-ratio: 3 / 2;
        overflow: hidden;
        border-radius: 8px;

        .slider__main_img {
          object-fit: cover;
        }
      }
    }

    &__other {
      margin: 20px 0;
      display: flex;
      gap: 10px;

      &_photo {
        img {
          width: 180px;
          height: 120px;
          object-fit: cover;
          transition: box-shadow 0.2s;
        }

        &:hover {
          img {
            box-shadow: 0 2px 8px #aaa;
          }
        }
      }
    }
  }
}

@media (max-width: variables.$small-screen) {
  .wrapper__slider {
    padding: 0;

    .slider {
      &__main {
        padding: 0 34px;

        .arrow {
          width: 30px;
          height: 30px;
        }

        .arrow_left {
          left: 0;
        }

        .arrow_right {
          right: 0;
        }

        img {
          max-width: 440px;
          max-height: 300px;
        }
      }

      &__other {
        margin: 10px 0;
        gap: 8px;

        &_photo {
          img {
            width: 140px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: variables.$phone) {
  .wrapper__slider {
    .slider {
      &__main {
        padding: 0 26px;

        .arrow {
          width: 20px;
          height: 20px;
        }
      }

      &__other {
        margin: 5px 0;
        gap: 4px;

        &_photo {
          img {
            width: 100px;
            height: 70px;
          }
        }
      }
    }
  }
}
