@use "../../../../styles/variables/variables.scss";

.wrapper__card {
  position: relative;

  .checkbox__all {
    position: absolute;
    left: -10px;
    top: -60px;
    z-index: 10;
  }
}

.available {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__filled {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
  }
}

@media (max-width: variables.$big-tablet) {
  .wrapper {
    .available {
      gap: 10px;

      &__filled {
        gap: 6px;
        width: 70%;
      }
    }
  }
}

@media (max-width: variables.$tablet) {
  .wrapper {
    .available {
      gap: 20px;
      flex-direction: column-reverse;

      &__filled {
        gap: 6px;
        width: 100%;
      }
    }
  }
}

@media (max-width: variables.$phone) {
  .wrapper {
    .available {
      gap: 10px;
    }
  }
}
