@use "../../../../../styles/variables/variables.scss";

.wrapper {
  box-shadow: 0px 0px 4px 4px variables.$shadow;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;

  &__title {
    text-align-last: left;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_block {
      display: flex;
      justify-content: space-between;

      .price {
        color: variables.$button-green;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 800;
  }

  .offer {
    color: variables.$grey;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: variables.$big-tablet) {
  .wrapper {
    padding: 10px 20px;
    gap: 20px;

    .product__info {
      gap: 15px;
    }

    .total {
      font-size: 18px;
    }

    .offer {
      font-size: 10px;
    }
  }
}

@media (max-width: variables.$phone) {
  .wrapper {
    padding: 10px;
    gap: 10px;

    .product__info {
      gap: 10px;
    }

    .total {
      font-size: 16px;
    }

    .offer {
      font-size: 10px;
    }
  }
}
