.wrapper {
  border: 2px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__title {
    text-align-last: left;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
