@use "../../../../styles/variables/variables.scss";

.wrapper_input {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;

  .label {
    display: block;
    padding-bottom: 6px;
  }

  div {
    .input {
      font-weight: 400;
      width: 100%;
      font-size: 14px;
      padding: 12px 10px;
      border-radius: 4px;
      border: 1px solid variables.$grey;

      &__error {
        border: 1px solid variables.$red;
      }

      &::placeholder {
        color: variables.$grey;
      }

      &:focus {
        -webkit-box-shadow: 1px 0px 10px 6px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 1px 0px 10px 6px rgba(0, 0, 0, 0.37);
        box-shadow: 1px 0px 10px 6px rgba(0, 0, 0, 0.37);
      }
    }
  }

  .error {
    font-weight: 500;
    font-size: 18px;
    color: variables.$red;
  }
}

@media (max-width: variables.$tablet) {
  .wrapper_input {
    font-size: 20px;

    .label {
      font-size: 15px;
    }

    div {
      .input {
        font-weight: 400;
        font-size: 14px;
        padding: 8px 6px;
      }
    }

    .error {
      font-size: 14px;
    }
  }
}
