@use "../../styles/variables/variables.scss";

.info_category {
  text-align-last: left;
  margin-bottom: 28px;
}

.all__product {
  margin: 20px 0;
}

.list__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: variables.$big-screen) {
  .list__product {
    justify-content: center;
  }
}

@media (max-width: variables.$tablet) {
  .info_category {
    margin-bottom: 18px;
  }

  .all__product {
    margin: 10px 0;
  }
}

@media (max-width: variables.$phone) {
  .info_category {
    margin-bottom: 8px;
  }

  .all__product {
    font-size: 12px;
    margin: 4px 0;
  }
}
