@use "../../styles/variables/variables.scss";

.info_category {
  text-align-last: left;
  margin-bottom: 28px;
}

.list__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: variables.$big-screen) {
  .list__product {
    justify-content: center;
  }
}
