@use "../../../styles/variables/variables.scss";

.wrapper__product {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  color: variables.$text-black;

  .slider {
    &__icons {
      display: flex;
      justify-content: space-around;
      padding: 0 20px;

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__svg {
          .svg {
            color: variables.$button-green;
            width: 50px;
            height: 50px;
          }
        }

        &__text {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .info {
    text-align-last: left;
    display: flex;
    flex-direction: column;
    width: 50%;

    &__category {
      width: 200px;
      background-color: variables.$light-green;
      color: variables.$button-hover;
      padding: 8px 12px;
      border-radius: 10px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      margin: 20px 0 30px;
      font-size: 16px;
      color: variables.$grey;
      font-weight: 500;
    }

    &__price {
      div {
        .info__price_value {
          font-size: 34px;
          font-weight: 900;
        }
      }

      .stock {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        color: variables.$button-green;
        padding: 20px 0;
      }
    }

    &__btn {
      margin: 50px 0;
    }

    .about__product {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-size: 20px;
        font-weight: 600px;
      }

      ul {
        margin-bottom: 20px;

        li {
          margin: 10px 0;
          padding-left: 20px;
          position: relative;

          span {
            font-size: 15px;
            font-weight: 400;

            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background-color: variables.$text-black;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    .about__product_last {
      padding-left: 30px;
    }
  }
}

@media (max-width: variables.$small-screen) {
  .wrapper__product {
    gap: 10px;

    .slider {
      padding: 0;
    }
  }
}

@media (max-width: variables.$tablet) {
  .wrapper__product {
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .slider {
      &__icons {
        gap: 10px;
        padding: 0;
        margin-bottom: 10px;

        .icon {
          gap: 10px;

          &__svg {
            .svg {
              width: 30px;
              height: 30px;
            }
          }

          &__text {
            font-size: 14px;
          }
        }
      }
    }

    .info {
      text-align-last: center;
      width: 100%;
      justify-content: center;
      align-items: center;

      &__category {
        margin-bottom: 6px;
        width: auto;
        padding: 5px 8px;
      }

      &__text {
        margin: 8px 0 12px;
        font-size: 14px;
      }

      &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
          .info__price_value {
            font-size: 16px;
          }
        }

        .stock {
          padding: 8px 0;
        }
      }

      &__btn {
        width: 100%;
        margin: 14px 0;
      }

      .about__product {
        gap: 6px;
        text-align-last: left;

        span {
          font-size: 16px;
        }

        ul {
          margin-bottom: 10px;

          li {
            margin: 5px 0;
            padding-left: 20px;

            span {
              font-size: 14px;
            }
          }
        }
      }

      .about__product_last {
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: variables.$mini-phone) {
  .wrapper__product {
    .slider {
      &__icons {
        display: none;
      }
    }
  }
}
