@use "../../../../styles/variables/variables.scss";

.form {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: variables.$button-white;

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    &_item {
      width: 33%;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    align-items: center;

    &_btn {
      width: 50%;
    }
  }
}
